/* Estilos generales */
#contenido-a-imprimir {
    background: #FFF;
    width: 21.59cm; /* Ancho */
    height: 27.94cm; /* Alto */
    margin: 0 auto; /* Centrar en la página */
    padding: 80px 0;
    border: 1px solid #dedede; /* Borde opcional */
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 12pt;
}

/* Estilos comunes para el contenedor */
.cont1, .cont {
    padding-left: 90px;
    padding-right: 90px;
}

.cont1 {
    padding-left: 100px;
    padding-right: 100px;
}

/* Imágenes en el contenedor */
.container-img {
    position: relative;
}

.img-left, .img-right {
    position: absolute;
    top: 0;
    width: 100px; /* Ajusta el tamaño de la imagen */
}

.img-left {
    left: 95px;
}

.img-right {
    right: 95px;
}

/* Estilos comunes para los campos de input */
.input-print, .input-print1 {
    border: none;
    border-bottom: 1px solid #4a5568;
    margin-bottom: 7px;
    color: #4a5568;
    width: 450px !important;
    white-space: pre-wrap !important; /* Mantiene los saltos de línea */
}

.input-print:focus, .input-print1:focus {
    outline: none;
}

/* Encabezado y código */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.codigo {
    text-align: right;
    margin-top: 0;
}

/* Estilos para los labels */
.form-group label {
    display: block;
    font-weight: bold;
}
